
html {
    height: 100%;
    margin: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
}
body {
    display: flex;
    align-items: flex-start;
    place-items: center; 
    background-image: 
        radial-gradient(ellipse at bottom,#4840CC 0%,transparent 70%),    
        linear-gradient(139deg,transparent 10%,#5A008F 96%),
        linear-gradient(4deg,transparent,#48404A 90%),
        linear-gradient(139deg,#48404A,transparent 30%)
          
}
  
body > * {
    margin: 20px;
}
  
h1 {
    font-family: "Ysabeau";
    color: white;
    text-align: center;
      
}
  
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
} 
      
  
.ysabeau-tagline {
    font-family: "Ysabeau";
    color: aliceblue;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}